# Environment
NODE_ENV=development

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key_here

# Email Service (Resend)
RESEND_API=your_resend_api_key_here
RESEND_EMAIL=your_email@example.com

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Paiement manuel (coordonnées à afficher aux utilisateurs)
PAYMENT_INFO_IBAN=CM21 10005 00021 00000062141-02
PAYMENT_INFO_BANK_ACCOUNT=Afriland First Bank - Cameroun
PAYMENT_INFO_ACCOUNT_NUMBER=10005 00021 00000062141 02
PAYMENT_INFO_SWIFT=CCEICMCX
PAYMENT_INFO_ACCOUNT_HOLDER=ASSOCIATION DES ECONOMISTES ET GESTIONNAIRES DU CAMEROUN (AEGC)
PAYMENT_INFO_ADDRESS=Yaoundé, Cameroun
PAYMENT_INFO_WEBSITE=www.aegc-web.com
PAYMENT_INFO_ORANGE=+237698905007
PAYMENT_INFO_MTN=+237651659996
PAYMENT_INFO_MOBILE_HOLDER=Dr Zeh Inès Pérolde
ADMIN_EMAIL=aegc.admi@gmail.com

# Upload PDF (Working Papers)
# Taille max en MB (ex: 10, 15, 20)
PDF_MAX_SIZE_MB=10

