.forgot-password-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", sans-serif;
  }
  
  .forgot-password-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #2c3e50;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-container label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #34495e;
  }
  
  .forgot-password-container input {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  /* .forgot-password-container input:focus {
    border-color: #007bff;
    outline: none;
  }
   */
  .forgot-password-container button {
    padding: 0.75rem;
    background-color: #259B2E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* .forgot-password-container button:hover {
    background-color: #0056b3;
  } */
  
  .forgot-password-container p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #555;
  }
  
  .forgot-password-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .forgot-password-container a:hover {
    text-decoration: underline;
  }
  
  .message.success {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid #c3e6cb;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .message.error {
    background-color: #f8d7da;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid #e74c3c;
    margin-bottom: 1rem;
    text-align: center;
  }
  