/* formation.css */

.formations-container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.formations-container h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #2c3e50;
  margin-bottom: 40px;
  font-weight: 700;
}

.formations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  gap: 30px;
}

/* Pour les écrans plus petits, rendre la grille responsive */
@media (max-width: 992px) {
  .formations-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  }
  .boutton-section {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .formations-grid {
    grid-template-columns: 1fr; /* 1 colonne */
  }
  .boutton-section {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 456px) {
 .boutton-section {
    width: 100%;
    margin: 0 auto;
  }
}

.formation-card {
  width: 80%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.formation-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  border-radius: 20px;
  background-color: #007bff;
}

.formation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.formation-card h3 {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 15px;
}

.formation-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
}

.formation-card strong {
  color: #2c3e50;
}

.doctor-link {
  color: #1a73e8;
  text-decoration: none;
}
.button-section {
  width: 100%;
}

.inscription-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #36bb6d;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.delete-button {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}
