/* Register.css */

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.register-container form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #2c3e50;
}

.register-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
}

.register-container input {
  width: 97%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.register-container input:focus {
  border-color: #259b2e;
  outline: none;
}

.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 0.8rem;
  background-color: #259B2E;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .register-container button:hover {
  background-color: #218c29;
} */

.register-container button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.register-message {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin: 1rem auto;
  animation: fadeIn 0.5s ease-in-out;
}

.register-message.success {
  background-color: #2ecc71;
  color: white;
}

.register-message.error {
  background-color: #e74c3c;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: none;
}

.input-wrapper input {
  width: 87%;
  flex: 1;
  padding-right: 2.5rem; /* espace pour l’icône */
}

.input-wrapper i {
  position: absolute;
  bottom: 0px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
  padding: 0;
  display: flex;
  align-items: center;
}
select {
  width: 100%;
  margin-right: 50px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

select:focus {
  border-color: #259b2e;
  outline: none;
}



/* Responsive */
@media (max-width: 768px) {
  .register-container {
    width: 90%;
    padding: 1.5rem;
  }

  .register-message {
    width: 90%;
  }

  .register-container button {
    width: 70%;
  }
}
