.subscribe-container {
    max-width: 100%;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .subscribe-image {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .subscribe-description {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 24px;
  }
  
  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .subscribe-input {
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .subscribe-input:focus {
    border-color: #36bb6d;
    box-shadow: 0 0 4px rgba(54, 187, 109, 0.4);
    outline: none;
  }
  
  .subscribe-button {
    padding: 12px;
    font-size: 16px;
    background-color: #259B2E;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* .subscribe-button:hover {
    background-color: #007bff;
    box-shadow: 0 4px 10px rgba(18, 5, 201, 0.5);
  }
   */
  /* Responsive */
  @media (max-width: 456px) {
    .subscribe-container {
     width: 90%;
    }
  
  
  }
  